[submodule "submodules/tz"]
	path = submodules/tz
	url = https://github.com/date-fns/tz.git
[submodule "submodules/utc"]
	path = submodules/utc
	url = https://github.com/date-fns/utc.git
[submodule "submodules/docs"]
	path = submodules/docs
	url = https://github.com/date-fns/docs.git
[submodule "submodules/build"]
	path = submodules/build
	url = https://github.com/date-fns/build.git
[submodule "submodules/mcp"]
	path = submodules/mcp
	url = https://github.com/date-fns/mcp.git
